MISTRAL_API_KEY=
HF_TOKEN=

KOKORO_SPACE=tzikos98/kokoro-tts-test
KOKORO_VOICE=af_heart
KOKORO_SPEED=1
KOKORO_API_NAME=/predict
KOKORO_MAX_CHARS=250

MISTRAL_MAX_SENTENCES=2
MISTRAL_MAX_TOKENS=120

ELEVENLABS_API_KEY=
